.vs\*
testTechGitTest\bin\*
testTechGitTest\obj\*
testTechGit\bin\*
testTechGit\obj\*
testTechGit/obj/Debug/testTechGit.pdb
testTechGit/obj/Debug/testTechGit.exe
testTechGit/obj/Debug/testTechGit.csproj.FileListAbsolute.txt
testTechGit/bin/Debug/testTechGit.pdb
testTechGit/bin/Debug/testTechGit.exe
.vs/testTechGit/v15/.suo
.vs/testTechGit/v15/Server/sqlite3/storage.ide
testTechGitTest/obj/Debug/testTechGitTest.pdb
testTechGitTest/obj/Debug/testTechGitTest.dll
testTechGitTest/obj/Debug/testTechGitTest.csprojResolveAssemblyReference.cache
testTechGitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
testTechGitTest/bin/Debug/testTechGitTest.pdb
testTechGitTest/bin/Debug/testTechGitTest.dll
testTechGitTest/bin/Debug/testTechGit.pdb
testTechGitTest/bin/Debug/testTechGit.exe
testTechGit/obj/Debug/testTechGit.csprojResolveAssemblyReference.cache
testTechGit/obj/Debug/testTechGit.csproj.CoreCompileInputs.cache
testTechGit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/testTechGit/v15/Server/sqlite3/storage.ide-wal
.vs/testTechGit/v15/Server/sqlite3/storage.ide-shm
