.vs\*
testTechGitTest\bin\*
testTechGitTest\obj\*
testTechGit\bin\*
testTechGit\obj\*
testTechGit/obj/Debug/testTechGit.pdb
testTechGit/obj/Debug/testTechGit.exe
testTechGit/obj/Debug/testTechGit.csproj.FileListAbsolute.txt
testTechGit/bin/Debug/testTechGit.pdb
testTechGit/bin/Debug/testTechGit.exe
.vs/testTechGit/v15/.suo
